.container {
  max-width: 100%;
  text-align: center;
}

body {
  background: radial-gradient( #fefeff, #a7bbce);
}

.font-For-P2 {
  font-weight: 900;
  font-family: 'Palatino Linotype',serif;
  text-align: center;
}

.for-text {
  font-size: 25px;
  font-family: 'Palatino Linotype',serif;
}

.for-myPhoto img {
  float: center;
  height: 35%; 
  width: 35%; 
  position: relative; 
}

