.container {
  max-width: 100%;
  text-align: center;
}


.for-text ol {
  text-align: left;
}

.cont {
  max-width: 100%;
  text-align: center;
  text-indent: 5%;
}

body {
  background: radial-gradient(at top, #fefeff, #a7bbce);
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.font-For-P2 {
  font-weight: 900;
  font-family: 'Palatino Linotype',serif;
  text-align: center;
}

.for-text {
  font-size: 25px;
  font-family: 'Palatino Linotype',serif;
}

.for-myPhoto img {
  float: right;
  height: 30%; 
  width: 30%; 
  position: right; 
  padding: 1%;
}

.for-list {
  text-align: left;
}

.for-firstHeadTable {
  background-color: #afcef0;
}

.for-secondHeadTable {
  background-color: #87baf0;
}

.for-thirdHeadTable {
  background-color: #66a7ee;
}

.for-lastHeadTable {
  background-color: #1c64b1;
}






